<nav class="bg-gray-700 p-4">
    <div class="container mx-auto flex justify-between items-center">
      <div class="text-white font-bold text-xl">Employee Management</div>
      <div class="space-x-4">
        <a routerLink="/form" routerLinkActive="active" class="text-gray-300 hover:text-white">Employee Form</a>
        <a routerLink="/list" routerLinkActive="active" class="text-gray-300 hover:text-white">Employee List</a>
      </div>
    </div>
  </nav>
<div class="mt-5 w-full">
<router-outlet />
</div>

